body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Evita el desbordamiento del fondo borroso */
    position: relative; /* Añade contexto de posicionamiento para el desenfoque */
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Oculta el desbordamiento de la imagen */
}

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../arbolito.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Ajusta el valor según sea necesario */
    z-index: -1;
}

.container {
    position: absolute; /* Cambiado a absolute para centrarlo en el medio */
    top: 50%; /* Coloca el borde superior del contenedor en el centro vertical */
    left: 50%; /* Coloca el borde izquierdo del contenedor en el centro horizontal */
    transform: translate(-50%, -50%); /* Lo centra completamente */
    background-color: rgba(255, 255, 255, 1); /* Fondo completamente blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 400px;
}


.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 61, 121);
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 61, 121);;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
